<nav>
    <h3>Sky Is The Limit</h3>
    <ul>
        <li>Main Menu</li>
        <li>Patch Notes</li>
        <li>Road Map</li>
        <li>Download</li>
        <li>Support Me</li>
    </ul>
</nav>
<form action="/download" method="GET">
    <button type="submit">Download The Game version 0.1</button>
</form>